# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# PySpark local checkpointing
.checkpoint/

# Output files
*.csv
*.parquet
*.json

# VS Code
.vscode/

# Environment
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
